.blocktrai{
    width: 600px;
    display: flex;
    align-items: center;
}
.blockphai{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.menu{
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
}
.logo{
    width: 78p;
    height: 78px;
}
.menu-con {
    display: block;
    color: #202124;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    margin-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
.menu-con:hover{
    text-decoration: underline;
}
.lang{
    display: block;
    color: #202124;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    margin-right: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.button-menu{
    margin-left: 10px;
}
.subheader{
    background-color: #202124;
    height: 66px;
}
.submenu{
    display: flex;
    width: 550px;
    height: 42px;
    margin: 0 auto;
    padding-top: 12px;
    padding-bottom: 12px;
}
.loichao{
    color: white;
    font-size: 16px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    margin: 0 auto;
}
.nut-dat-hang{
    border-radius: 200px;
    padding: 10px 30px;
    background-color: #e4002b;
    margin: auto 0;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    line-height: 20px;
}
.nut-dat-hang:hover{
    background-color:white; 
    color: #e4002b;
    border: 1px solid #e4002b;
}
.banner{
    max-height: 620px;
}
.body{
    max-width: 1440px;
    padding: 27px;
    margin: 0 auto;
}
h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    background-color: white;
  }
h2:after {
    content: "";
    width: 70%;
    height: 1px;
    background: #000;
    right: 0;
    top: 50%;
    position: absolute;
  }
.block-monan{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.cover{
    width: 25%;
    padding: 6px 12px;
    flex: 0 0 auto;
    box-sizing: border-box;
}
.monan{
    display: block;
    box-sizing: border-box;
    box-shadow:0 1px 6px 0 rgb(0 0 0 / 20%);
    border-radius: 8px;
    overflow: hidden;
}
.anh-mon-an{
    max-width: 336px;
}
.nut-uu-dai{
    padding: 6px 12px;
    border:none;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 20px;
}
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }