.blocktrai{
    width: 600px;
    display: flex;
    align-items: center;
}
.blockphai{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.menu{
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
}
.logo{
    width: 78p;
    height: 78px;
}
.menu-con {
    display: block;
    color: #202124;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    margin-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
.menu-con:hover{
    text-decoration: underline;
}
.lang{
    display: block;
    color: #202124;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    margin-right: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.button-menu{
    margin-left: 10px;
}
.subheader{
    background-color: #202124;
    height: 66px;
}
.submenu{
    display: flex;
    width: 550px;
    height: 42px;
    margin: 0 auto;
    padding-top: 12px;
    padding-bottom: 12px;
}
.loichao{
    color: white;
    font-size: 16px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    margin: 0 auto;
}
.nut-dat-hang{
    cursor: pointer;
    border-radius: 200px;
    padding: 10px 30px;
    background-color: #e4002b;
    margin: auto 0;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    line-height: 20px;
}
.nut-dat-hang:hover{
    background-color:white; 
    color: #e4002b;
    border: 1px solid #e4002b;
}
.banner{
    max-height: 620px;
}
.body{
    max-width: 1440px;
    padding: 27px;
    margin: 0 auto;
}
h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    background-color: white;
  }
h2:after {
    content: "";
    width: 60%;
    height: 1px;
    background: #000;
    right: 0;
    top: 50%;
    position: absolute;
  }
.block-monan{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.cover{
    width: 25%;
    padding: 16px 12px;
    flex: 0 0 auto;
    box-sizing: border-box;
}
.monan{
    display: block;
    box-sizing: border-box;
    box-shadow:0 1px 6px 0 rgb(0 0 0 / 20%);
    border-radius: 8px;
    overflow: hidden;
}
.anh-mon-an{
    max-width: 336px;
}
.nut-uu-dai{
    cursor: pointer;
    padding: 6px 12px;
    border:none;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 20px;
}
.nut-uu-dai:hover{
    padding: 6px 20px;
}
.arrow {
    border: solid black;
    margin-bottom: 1px;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-left: 3px
  }
body{
    margin: 0 auto;
  }
h6{
    margin: 0 0;
}
.ten-combo{
    display: flex;
    justify-content: space-between;
}
.gia{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding: 6px 12px;
  }
.desc-combo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 6px 12px;
    margin: 0 auto;
  }
.nut-dat-combo{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    width: 100%;
    padding: 10px 18px;
    border-radius: 25px ;
    border: none;
    box-shadow:0 1px 6px 0 rgb(0 0 0 / 20%);
    color: white;
    background-color:#b9b9b9 ;
    cursor: pointer;
  }
.nut-dat-combo:active {
    background-color: #e4002b;
    box-shadow: 0 5px #666;
  }
.block-nut-combo{
    padding: 20px 40px;
  }
.banner-footer {
    position: relative;
    width: 100%;
  }
  
.banner-footer img {
    width: 100%;
    height: auto;
  }
.banner-footer .download-gg {
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    width:180px;
  }
.banner-footer .download-ios {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    width:180px;
  }
.container{
    background-color:#202124 ;
}  
.footer-menu{
    padding: 50px 15px;
    max-width:1440px ;
    margin: 0 auto;;
    display: grid;
    height: auto;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  
}
.footer-block{
    color: white;
    /* display: grid; */
    place-items: center;
}
.header-footer-block{
    width: 100%;
    font-size:28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.content-footer-block{
    padding-top: 20px;
    width: 100%;
    display: grid;
}
.fm{
    margin-bottom: 6px;
    color: #ababab;
    font-size:16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}
.fm:hover{
    color: #fff;
}
.footer-cr{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 15px;
}
.copyright{
    color: #ababab;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 50%;
    order: inherit;
    padding-top: 30px;
}
.line-hr{
    color: white; 
    background-color: white;
    max-width:1440px ;
    margin: 20px auto;  
    border-top: 1px solid rgba(0,0,0,.1);  
}
.footer-adr{
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.block-adr{
    display: grid;
    margin-top: 30px;
    margin-bottom: 80px;
}